body {
    margin: 0;
    overflow: hidden;
    background-color: #b31217;
    transition: all ease-in-out 500ms;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

#message {
    position: absolute;
    top: 50vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

video {
    display: none;
    height: 100vh;
    width: 100vw;
    margin: 0;
    opacity: 0;
    transition: all ease-in-out 500ms;
}

#circle {
    position: relative;
    top: calc(50vh - 150px);
    border: 20px solid #FFF;
    /* background-color: rgba(255, 255, 255, 0.3); */
    width: 300px;
    height: 300px;
    margin: auto auto;
    opacity: 50%;
    line-height: 300px;
    border-radius: 100%;
    transition: all ease-in-out 500ms;
}

#line {
    position: relative;
    top: 60vh;
    width: 0;
    height: 3px;
    margin: auto auto;
    background-color: #FFF;
    transition: all ease-in-out 500ms;
}

#container{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -50vh;/* half of #content height*/
}

#content {
    width: 624px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
}
